.cartIcon{
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.homePage{
  padding: 15px 15px 0 15px;
  background-image: url("./assets/shopping_Image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.logoDisplay{
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  height: fit-content;
  width: 300px;
}

.logoText{
  font-size: 3rem;
  margin: 0;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.726);
}

.navSection{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  width: fit-content;
  height: auto;
  gap: 60px;
  cursor: pointer;
}

.navSection h2{
  color: white;
  margin: 0;
  padding: 10px 10px 0 10px;
}

.link{
  text-decoration: none;
}

.link:hover{
  background-color: rgba(128, 128, 128, 0.384);
  border-radius: 20px;
}

.tabs:hover{
  background-color: rgba(128, 128, 128, 0.384);
  border-radius: 20px;
}

.header{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.main{
  display: grid;
  grid-template-rows: auto auto auto;
  width: 45vw;
  margin-top: 60px;
}

.main h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 5rem;
}

.main p {
  font-size: 1.4rem;
  padding-bottom: 30px;
}

.main button {
  width: 100px;
  height: 40px;
  margin-left: calc(14.5vw - 50px);
  border-radius: 18px;
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.589);
}


