.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}
.cart{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.cartHolder{
    display: grid;
    grid-template-columns: auto auto auto;
    box-shadow: 0 0 4px 4px gray;
}

.right{
    box-sizing: border-box;
    padding: 20px;
    width: 40vw;
    height: 80vh;
    overflow-y: auto;
    /* background-color: red; */
}

.toBeBought{
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.2fr 0.2fr;
    height: fit-content;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.651);
    padding-top: 10px;
}

.productDetails{
    /* background-color: red; */
    display: grid;
    grid-template-rows: auto auto;
}

.productSpecifications{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.productSpecifications img{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.705);
}

.productSpecificationsInfo{
    display: grid;
    grid-template-rows: auto auto auto;
}

.quantity{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}

.quantity p{
    text-align: center;
}

.importantInfoOuter{
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.importantInfoOuter input{
    width: 50%;
}

.importantInfo2{
    display: grid;
    justify-items: center;
}

.importantInfo{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2px;
}

.importantInfo p{
    cursor: pointer;
}

.importantInfo p:hover{
    cursor: pointer;
    background-color: rgba(44, 42, 42, 0.795);
    border-radius: 20px;
}

.smallNoBox{
    background-color: black;
    text-align: center;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.price{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.price p{
    text-align: center;
}

.total{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.total p{
    text-align: center;
}

.left{
    background-color: rgba(128, 128, 128, 0.637);
    padding: 20px;
}

.headerLeft{
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}

.totalItems{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.shipping select{
    box-sizing: border-box;
    padding: 8px;
    outline: 0;
}

.shipping {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}
.payButton{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(81, 81, 170);
    border: 0;
}

.backArrow{
    margin-top: 20px;
}

/* When hovered, apply the bounce animation */
.backArrow:hover {
  animation: bounce 0.6s ease infinite;
}

/* Define the bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


.productTitles{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-content: start;
}

.header{
    position: sticky;
    top: 0;
    background-color: aqua;
}

.productTitles{
    position: sticky;
    top: 70px;
    background-color: aqua;
}

.productSpecificationsInfo button{
    background-color: red;
    cursor: pointer;
    border: 0;
    color: white;
    box-shadow: 0 0 1px 1px gray;
}